{% extends 'main.html' %}

{% block content %}

<h1>Hello Welcome to login page</h1>

{% if page == 'login' %}
<div>
    <form method="POST" action="">
        {% csrf_token %}
        <label>Username</label>
        <input type="text" name="username" placeholder="Username"/>
        <input type="password" name="password" placeholder="Password"/>
        <input type="submit" value="Login">
    </form>

    <p>Haven't signed up yet?</p>
    <a href="{% url 'register' %}">Sign up</a>
</div>

{% else %}
<div>
    <form method="POST" action="">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="Register"/>
    </form>

    <p>Already signed up?</p>
    <a href="{% url 'login' %}">Login to Account</a>
</div>

{% endif %}
{% endblock content %}